/* Gradient background for the area above tabs */
#TabsToolbar{
  background-size: 100% 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#urlbar{
  margin-top: 2px;
  margin-bottom: 2px;
}



/* Make tabs connected to page, recolor to match bottom */
.tabbrowser-tab .tab-stack {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: 100% !important;
}

.tab-background[selected="true"]{
  background-image: none !important;
  height: 100% !important;
}

.tab-background:not([selected="true"]){
  background-image: none !important;
  height: 100% !important;
}

/* Move container indicator to bottom */
#tabbrowser-tabs .tab-context-line {
  transform: translateY(33px);
  opacity: 0.75 !important;
}

@media(prefers-color-scheme: dark) {
  .tab-background[selected="true"]{
    background-color: #2B2A33 !important;
  }
  #TabsToolbar{
    background: linear-gradient(90deg, rgba(100, 100, 250, 0.5), rgba(250, 100, 100, 0.5)), url('coolbackground.svg');
  }

  /* Background on the URL bar when open */
  #urlbar[breakout][breakout-extend] #urlbar-background{
    background: rgba(55, 52, 116, 0.918) !important;
  }
}

@media(prefers-color-scheme: light) {
  .tab-background[selected="true"]{
    background-color: #F9F9FB !important;
  }
  #TabsToolbar{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.75)), url('images/img27.jpg');
  }
  /* Background on the URL bar when open */
  #urlbar[breakout][breakout-extend] #urlbar-background{
    background: rgba(255, 255, 255, 0.801) !important;
  }
}

/* Layering */
#nav-bar{
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar{
  -moz-box-ordinal-group: 2 !important;
}
#TabsToolbar{
  -moz-box-ordinal-group: 3 !important;
  padding-top: 0 !important
}
