/* #viewerContainer > #viewer > .page > .canvasWrapper > canvas {
    filter: grayscale(50%);
    filter: invert(80%);
} */

@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing') { 
    .search-wrapper .logo-and-wordmark { 
        justify-content: left !important;
    }
    .search-inner-wrapper {
        display:none!important; 
    }
    .logo-and-wordmark {
        margin-bottom: 0 !important;
    }
}