/*
@-moz-document url("about:newtab"), url("about:home"){
    body{
      background-image: linear-gradient(0deg, #40419400 90%, #2a2a2e 100%), linear-gradient(130deg, rgba(55, 52, 116, 0.8) 0%, rgba(146, 41, 41, 0.8) 100%), url('img26.jpg') !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
}

*/

@-moz-document url("about:newtab"), url("about:home"){
    body{
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

    @media(prefers-color-scheme: dark) {
      body{
        background: linear-gradient(to bottom, #367945c7 0%, #367945ad 100%), url('images/tiles.svg') !important;
      }
    }

    @media(prefers-color-scheme: light) {
      body{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.596), rgb(255, 255, 255)), url('images/img27.jpg');
      }
    }
}

.search-inner-wrapper{
  display:none !important;
}

.outer-wrapper{
  padding-top:40vh !important;
}

#viewerContainer > #viewer > .page > .canvasWrapper > canvas {
  filter: grayscale(100%);
  filter: invert(100%);
}